.header {
  position: relative;
  height: 400px;
  overflow: hidden;
  background: url('/assets/predios.jpg') center no-repeat fixed;
}

/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  color: #333;
} */

.header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header-text {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente para o conteúdo */
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--dark-blue);
}

.header-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', serif;
}

.header-text span{
  /* font-family: 'Satisfy', cursive; */
  font-family: 'Pacifico', cursive;
}

.header-text p {
  opacity: 0.8;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.container-price{
  background: url('/assets/barbeiro.png') bottom fixed;

  position: relative;
  /* height: 400px; */
  overflow: hidden;

  margin: 0;
  padding: 0;
  /* font-family: Arial, sans-serif; */
  /* background: url('caminho/para/sua/imagem.jpg') no-repeat center center fixed; */
  background-size: cover;
  /* color: #333; */
}

#planos{
  text-align: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--dark-blue);
  font-family: "Abril Fatface", serif;
}

#price {
  font-size: x-large;
  margin: 0;
  color: var(--green-conci);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 20px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
}

.card-functionalities {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.card {
  border-top-color: var(--green-conci);
  border-top-width: thick;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.card-body {
  padding: 20px;
}

.card-body.functionalities {
  height: 220px;
}


.card-title {
  margin-bottom: 20px;
  color: #333;
}

.card-text {
  color: #666;
  line-height: 1.6;
}

.card-message {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #1056c6;
  flex-wrap: nowrap;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  color: var(--dark-blue);
}

.text-block-16,
.text-block-17 {
  line-height: 18px;
}

@media (max-width: 768px) {
  .column {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .card-functionalities {
    margin-bottom: 20px;
  }
}