<div class="header">
  <div class="header-text">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
    <span id="typed"></span>
  </div>
</div>

<div class="container functionalities">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card card-functionalities">
        <div class="div-icons">
          <i class="card-icon bi bi-phone"></i>
          <i class="card-icon bi bi-android2"></i>
          <i class="card-icon bi bi-apple"></i>
          <i class="card-icon bi bi-laptop"></i>
        </div>
        <div class="card-body functionalities">
          <h5 class="card-title">{{ 'HOME.FEATURES.ACCESS_ANYWHERE' | translate }}</h5>
          <p class="card-text">{{ 'HOME.FEATURES.ACCESS_ANYWHERE_DESC' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card card-functionalities">
        <div class="div-icons">
          <i class="card-icon bi bi-bell"></i>
        </div>
        <div class="card-body functionalities">
          <h5 class="card-title">{{ 'HOME.FEATURES.NOTIFICATIONS' | translate }}</h5>
          <p class="card-text">{{ 'HOME.FEATURES.NOTIFICATIONS_DESC' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card card-functionalities">
        <div class="div-icons">
          <i class="card-icon bi bi-calendar2-check"></i>
        </div>
        <div class="card-body functionalities">
          <h5 class="card-title">{{ 'HOME.FEATURES.SIMPLE' | translate }}</h5>
          <p class="card-text">{{ 'HOME.FEATURES.SIMPLE_DESC' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="container-price">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <h1 id="planos">{{ 'HOME.PRICING.TITLE' | translate }}</h1>
      <div class="card">
        <div class="d-flex align-items-center" style="flex-direction: column;">
          <h2 id="price">R$19.90</h2>
          <p class="card-text">{{ 'HOME.PRICING.PER_MONTH' | translate }}</p>
        </div>
        <div class="card-body d-flex" style="flex-direction: column;">
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.BOOKING_LINK' | translate }}</p>
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.NOTIFICATIONS' | translate }}</p>
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.REPORTS' | translate }}</p>
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.FINANCIAL' | translate }}</p>
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.UNLIMITED' | translate }}</p>
          <p class="card-text"><i class="bi bi-card-checklist"></i> {{ 'HOME.PRICING.FEATURES.RECURRING' | translate }}</p>
          <a href="#" class="btn btn-outline-conci" style="margin-bottom: 3%;">{{ 'HOME.PRICING.SIGN_UP' | translate }}</a>

          <a class="card-message">
            <i class="bi bi-credit-card" style="font-size: large; color: var(--dark-blue);"></i>
            <div class="text-block-17">{{ 'HOME.PRICING.FREE_TRIAL' | translate }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
