<div class="header">
  <div class="row h-100">
    <div class="col-md-6 d-flex align-items-center justify-content-center px-5 flex-column gap-4">
      <div #headerText class="header-text rounded-4">
        <h1>{{ 'HOME.TITLE' | translate }}</h1>
        <span id="typed"></span>
      </div>
      <div #homeButtons class="home-buttons d-flex align-items-center gap-4">
        <a class="btn btn-gradient btn-lg rounded-5" routerLink="/account/register"><i
            class="bi bi-calendar-plus me-2"></i>{{ 'HOME.GET_STARTED' | translate }}</a>
        <a class="btn btn-white btn-lg rounded-5" routerLink="/account/login"><i class="bi bi-play me-2"></i>{{
          'HOME.TRY_FREE' | translate }}</a>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div #homeImg class="align-items-center d-flex header-image justify-content-center position-relative">
        <img src="assets/home-image.webp" alt="Header Image" class="img-fluid rounded-4 home-img">
        <div class="reservations-today">
          <div class="green-pulse animate-pulse"></div>+1.2k agendamentos hoje
        </div>
      </div>
    </div>
  </div>
  <div class="header-style"></div>
</div>

<div class="container functionalities">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h2 class="fs-1 mb-4">{{ 'HOME.FEATURES.TITLE' | translate }}</h2>
      <p class="fs-5 subtitle">{{ 'HOME.FEATURES.SUBTITLE' | translate }}</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card card-functionalities">
        <div class="div-icons">
          <i class="card-icon bi bi-phone"></i>
          <i class="card-icon bi bi-android2"></i>
          <i class="card-icon bi bi-apple"></i>
          <i class="card-icon bi bi-laptop"></i>
        </div>
        <div class="card-body functionalities pb-0">
          <h3 class="card-title fs-3 text-center">{{ 'HOME.FEATURES.ACCESS_ANYWHERE' | translate }}</h3>
          <p class="card-text text-center">{{ 'HOME.FEATURES.ACCESS_ANYWHERE_DESC' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card card-functionalities">
        <div class="div-icons">
          <i class="card-icon bi bi-bell"></i>
        </div>
        <div class="card-body functionalities pb-0">
          <h3 class="card-title fs-3 text-center">{{ 'HOME.FEATURES.NOTIFICATIONS' | translate }}</h3>
          <p class="card-text text-center">{{ 'HOME.FEATURES.NOTIFICATIONS_DESC' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card card-functionalities">
        <div class="div-icons">
          <i class="card-icon bi bi-calendar2-check"></i>
        </div>
        <div class="card-body functionalities pb-0">
          <h3 class="card-title fs-3 text-center">{{ 'HOME.FEATURES.SIMPLE' | translate }}</h3>
          <p class="card-text text-center">{{ 'HOME.FEATURES.SIMPLE_DESC' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container services my-5">
  <h2 class="fs-1 my-4 text-center">{{ 'HOME.SERVICES.TITLE' | translate }}</h2>
  <p class="fs-5 subtitle text-center">{{ 'HOME.SERVICES.SUBTITLE' | translate }}</p>
  <div class="services-animation d-flex justify-content-center">
    <div class="services-circle position-relative mx-auto">
      <div class="center d-flex align-items-center justify-content-center text-white fw-semibold">Agende</div>
      <div class="align-items-center d-flex flex-column node" data-angle="-90">
        <img src="assets/gifs/barber.gif" alt="Barbearia Icon" class="service-icon">
        <span class="node-label">{{'HOME.SERVICES.ITEM_1' | translate}}</span>
      </div>
      <div class="align-items-center d-flex flex-column node" data-angle="-30">
        <img src="assets/gifs/nails.gif" alt="Manicure Icon" class="service-icon">
        <span class="node-label">{{'HOME.SERVICES.ITEM_2' | translate}}</span>
      </div>
      <div class="align-items-center d-flex flex-column node" data-angle="30">
        <img src="assets/gifs/massage.gif" alt="Massagem Icon" class="service-icon">
        <span class="node-label">{{'HOME.SERVICES.ITEM_3' | translate}}</span>
      </div>
      <div class="align-items-center d-flex flex-column node" data-angle="90">
        <img src="assets/gifs/aesthetic.gif" alt="Estética Icon" class="service-icon">
        <span class="node-label">{{'HOME.SERVICES.ITEM_4' | translate}}</span>
      </div>
      <div class="align-items-center d-flex flex-column node" data-angle="150">
        <img src="assets/gifs/spa.gif" alt="Spa Icon" class="service-icon">
        <span class="node-label">{{'HOME.SERVICES.ITEM_5' | translate}}</span>
      </div>
      <div class="align-items-center d-flex flex-column node" data-angle="210">
        <img src="assets/gifs/makeup.gif" alt="Maquiagem Icon" class="service-icon">
        <span class="node-label">{{'HOME.SERVICES.ITEM_6' | translate}}</span>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="container-price">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <h1 id="planos">{{ 'HOME.PRICING.TITLE' | translate }}</h1>
      <div class="card">
        <div class="d-flex align-items-center" style="flex-direction: column;">
          <h2 id="price">R$19.90</h2>
          <p class="card-text">{{ 'HOME.PRICING.PER_MONTH' | translate }}</p>
        </div>
        <div class="card-body d-flex" style="flex-direction: column;">
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.BOOKING_LINK' | translate }}</p>
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.NOTIFICATIONS' | translate }}</p>
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.REPORTS' | translate }}</p>
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.FINANCIAL' | translate }}</p>
          <p class="card-text"><i class="bi bi-check"></i> {{ 'HOME.PRICING.FEATURES.UNLIMITED' | translate }}</p>
          <p class="card-text"><i class="bi bi-card-checklist"></i> {{ 'HOME.PRICING.FEATURES.RECURRING' | translate }}
          </p>
          <a href="#" class="btn btn-outline-conci" style="margin-bottom: 3%;">{{ 'HOME.PRICING.SIGN_UP' | translate
            }}</a>

          <a class="card-message">
            <i class="bi bi-credit-card" style="font-size: large; color: var(--dark-blue);"></i>
            <div class="text-block-17">{{ 'HOME.PRICING.FREE_TRIAL' | translate }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>