<div class="header">
  <div class="header-text">
    <h1>Mais que uma agenda</h1>
    <!-- <p>Simplifique a forma em que seus clientes agendam seus serviços, enquanto você disponibiliza de uma plataforma de
      gestão completa.</p> -->
    <span id="typed"></span>
  </div>
</div>
<div class="container functionalities">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card card-functionalities">
        <div class="div-icons">
          <i class="card-icon bi bi-phone"></i>
          <i class="card-icon bi bi-android2"></i>
          <i class="card-icon bi bi-apple"></i>
          <i class="card-icon bi bi-laptop"></i>
        </div>
        <div class="card-body functionalities">
          <h5 class="card-title">Acesse em qualquer lugar</h5>
          <p class="card-text">Sem necessidade de instalação de um app. Disponível em qualquer plataforma: Iphone,
            Android, Windows, entre outros...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card card-functionalities">
        <div class="div-icons">
          <i class="card-icon bi bi-bell"></i>
        </div>
        <div class="card-body functionalities">
          <h5 class="card-title">Notificações</h5>
          <p class="card-text">Envie notificações para avisar seus clientes sobre o agendamento, trazendo menor taxa
            de esquecimento e maior faturamento.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card card-functionalities">
        <div class="div-icons">
          <!-- <i class="card-icon i-calendar2-check"></i> -->
          <i class="card-icon bi bi-calendar2-check"></i>
        </div>
        <div class="card-body functionalities">
          <h5 class="card-title">Simples e completo</h5>
          <p class="card-text">Seus clientes não querem perder tempo com excesso de informação.
            Ofereça uma plataforma simples e direta a eles que, ao mesmo tempo, te entregue uma gestão completa do seu
            negócio. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="container-price">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <h1 id="planos">Planos</h1>
      <div class="card">
        <div class="d-flex align-items-center" style="flex-direction: column;">
          <h2 id="price">R$19,90</h2>
          <p class="card-text">por mês</p>
        </div>
        <div class="card-body d-flex" style="flex-direction: column;">
          <p class="card-text"><i class="bi bi-check"></i> Link único de agendamento</p>
          <p class="card-text"><i class="bi bi-check"></i> Envio de notificações para seus clientes</p>
          <p class="card-text"><i class="bi bi-check"></i> Relatórios de agendamentos</p>
          <p class="card-text"><i class="bi bi-check"></i> Relatório financeiro incluindo ganhos, despesas e previsões
          </p>
          <p class="card-text"><i class="bi bi-check"></i> Agendamentos ilimitados</p>
          <p class="card-text"><i class="bi bi-card-checklist"></i> Agendamentos recorrentes</p>
          <a href="#" class="btn btn-outline-conci" style="margin-bottom: 3%;">Assine agora</a>

          <a class="card-message">
            <i class="bi bi-credit-card" style="font-size: large; color: var(--dark-blue);"></i>
            <div class="text-block-17">Teste grátis por 7 dias sem cadastro de cartão de crédito antecipado</div>
          </a>
        </div>
      </div>
    </div>
  </div>