<div class="scheduling-container container">
    <div class="card bg-white shadow-sm mt-3">
        <div class="card-header bg-primary text-white d-flex align-items-center rounded-lg shadow-sm p-3">
            <img class="company-logo mr-3" src="/assets/logo.png" alt="Avatar">
            <h1 class="mb-0">Agendamento - {{companyName}}</h1>
        </div>
        <div class="card-body" [formGroup]="schedulingForm">
            <div *ngIf="countSteps == 1">
                <div class="row" style="display: flex; flex-direction: column; height: 180px; overflow-y: auto;">
                    <div class="form-group">
                        <button *ngFor="let professional of profissionais"
                            class="card-option professional bg-transparent" href="javascript:void(0);"
                            (click)="selecionarProfissional(professional)"
                            [disabled]="professionalSelected && professionalSelected != professional">
                            <div class="professional-avatar">
                                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="{{professional.name}}">
                                <div class="professional-name">
                                    <div class="mb-2">
                                        {{professional.name}}
                                    </div>
                                    <div class="mb-2 text-muted">
                                        {{professional.description}}
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let service of services" class="service" (click)="selectService(service)">
                        <div class="row">
                            <div class="col-12">
                                <button class="card-option bg-transparent card-services" href="javascript:void(0);"
                                    [disabled]="serviceSelected && serviceSelected != service">
                                    <div class="card">
                                        <div class="service-name">
                                            {{service.name}}
                                        </div>
                                        <div class="service-price">
                                            R${{service.price}}
                                        </div>
                                        <div class="service-description card-subtitle mb-2 text-muted">
                                            {{service.description}}
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="countSteps == 2 && serviceSelected && professionalSelected">
                <div class="row">
                    <div class="col-md-3">
                        <label for="data" class="form-label" for="date">Data</label>
                        <input type="date" form class="form-control" required="true" formControlName="date"
                            (change)="atualizarHorarios()">
                    </div>
                </div>
                <div class="row" *ngIf="hasDateSelected()">
                    <h2 style="color: var(--green-conci);" *ngIf="!times">Desculpe. A agenda na data selecionada já está
                        cheia! :( Altere o filtro de data para obter as horários disponíveis. </h2>
                    <div *ngFor="let time of times" class="col-md-2">
                        <button class="card-option bg-transparent" href="javascript:void(0);" (click)="selectTime(time)"
                            [disabled]="timeSelected && timeSelected != time">
                            <div class="card card-services">
                                <div class="service-name">
                                    {{time}}
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row" *ngIf="timeSelected">
                    <div class="col-md-3">
                        <label for="name">Nome</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                    <div class="col-md-3">
                        <label for="lastName">Sobrenome</label>
                        <input type="text" id="lastName" class="form-control" formControlName="lastName">
                    </div>
                    <div class="col-md-3">
                        <label for="phone">Telefone</label>
                        <input type="tel" id="phone" class="form-control" placeholder="(99) 9 999999999"
                            formControlName="phone">
                    </div>
                    <div class="col-md-3">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" class="form-control" placeholder="agende@gmail.com"
                            formControlName="email">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="countSteps == 3">
            <div class="card">
                <h2>Resumo</h2>

                <p>Serviço selecionado: {{ serviceSelected?.name }} - {{ serviceSelected?.description }}</p>
                <p>Profissional selecionado: {{ professionalSelected?.name }}</p>
                <p>Data: {{ schedulingForm.get('date')?.value | date:'dd/MM/yyyy' }}</p>
                <p>Nome: {{ schedulingForm.get('name')?.value + " " + schedulingForm.get('lastName')?.value }}</p>
                <p>Horário selecionado: {{ timeSelected }}</p>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" *ngIf="countSteps == 3" type="submit" [disabled]="!schedulingForm.valid"
                (click)="agendar()">Agendar</button>

            <button *ngIf="countSteps != 3" id="continueButton" class="btn btn-primary"
                (click)="goToNextStep()">Continuar</button>
            <button *ngIf="countSteps != 1" class="btn btn-danger" (click)="goToPreviousStep()">Voltar</button>
        </div>
    </div>