<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white">Carregando...</p>
</ngx-spinner>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h1 class="modal-title text-center mb-0">{{companyToEdit ? "Editar" : "Criar" }} Empresa</h1>
    <button type="button" class="btn btn-close" (click)="close()">
    </button>
  </div>

  <mat-progress-bar mode="determinate" value="{{this.currentStep == 0 ? 33 : this.currentStep == 1 ? 66 : 100}}"></mat-progress-bar>

  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="modal-body company-modal">

      <app-basic-info *ngIf="currentStep == 0" (next)="onNextStep($event)"></app-basic-info>

      <app-business-sector *ngIf="currentStep == 1" [data]="createForm" (previous)="onPreviousStep()"
        (next)="onNextStep($event)"></app-business-sector>

      <app-share-info *ngIf="currentStep == 2" [data]="createForm" (previous)="onPreviousStep()"></app-share-info>

      <!-- <div class="row">
        <div class="d-flex form-group justify-content-center mb-4">
          <div class="bg-light p-2 position-relative">
            <input class="form-control d-none" id="company-image" type="file" (change)="onFileChange($event)" />
            <img [src]="hasImage() ? createForm.get('image')?.value : 'assets/not-found.png'" alt="image" width="200"
              height="160" />
            <label for="company-image" class="image-label">
              <i class="bi bi-camera-fill"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="row" style="text-align: center;">
        <div class="form-group">
          <button type="button" class="btn btn-danger" (click)="removeImage()" *ngIf="hasImage()">Remove</button>
        </div>
      </div>

      <div class="row mb-1">
        <div class="form-group col-md-4">
          <label class="form-label" for="name">Name:</label>
          <input class="form-control" type="text" id="name" formControlName="name" />
        </div>
        <div class="form-group col-md-4">
          <label class="form-label" for="email">Email:</label>
          <input class="form-control" type="text" id="email" formControlName="email" />
        </div>
        <div class="form-group col-md-4">
          <label class="form-label" for="cnpj">CNPJ:</label>
          <input class="form-control" type="text" id="cnpj" formControlName="cnpj" placeholder="Opcional" />
        </div>
      </div> -->

      <!-- <div class="row mb-1">
        <div class="form-group col-md-6">
          <label class="form-label">Site</label>
          <input class="form-control" type="text" formControlName="site" placeholder="Opcional" />
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Instagram</label>
          <input class="form-control" type="text" formControlName="site" placeholder="@Opcional" />
        </div>
      </div>
      <div class="row mb-1">
        <div class="form-group col-md-12">
          <label class="form-label">Description:</label>
          <i style="font-size: small;">Fale um pouco sobre sua empresa ou serviços para seus clientes. Esta informação
            estará visível em sua página de agendamento e nossas divulgações</i>
          <textarea class="form-control" formControlName="description" rows="3"></textarea>
        </div>
      </div> -->

      <!-- <div class="row mb-1">
        <div class="form-group col-md-6">
          <label class="form-label">Categories:</label>
          <select class="form-select">
            <option value="1">Categoria 1</option>
            <option value="2">Categoria 2</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Services Offered:</label>
          <select class="form-select">
            <option value="1">Service 1</option>
            <option value="2">Service 2</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
          <div class="form-group col-md-6">
            <label class="form-label">Horário de funcionamento</label>
            <div class="row">
              <div class="col-md-6">
                <label class="form-label">Monday</label>
                <input class="form-control" type="time" formControlName="mondayOpen" />
              </div>
              <div class="col-md-6">
                <input class="form-control" type="time" formControlName="mondayClose" />
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="row">
              <div class="col-md-6">
                <label class="form-label">Tuesday</label>
                <input class="form-control" type="time" formControlName="tuesdayOpen" />
              </div>
              <div class="col-md-6">
                <input class="form-control" type="time" formControlName="tuesdayClose" />
              </div>
            </div>
          </div>
      </div> -->

      <!-- <div *ngIf="createForm.get('isPhysicalCompany')?.value">
        <div class="row mb-1">
          <div class="form-group col-md-3">
            <label class="form-label" for="cep">CEP:</label>
            <input class="form-control" type="text" (blur)="searchCEP()" id="cep" formControlName="cep" />
          </div>
          <div class="form-group col-md-3">
            <label class="form-label" for="city">Cidade</label>
            <input class="form-control" type="text" id="city" formControlName="city" />
          </div>
          <div class="form-group col-md-3">
            <label class="form-label" for="state">Estado</label>
            <input class="form-control" type="text" id="state" formControlName="state" />
          </div>
          <div class="form-group col-md-3">
            <label class="form-label" for="neighborhood">Bairro</label>
            <input class="form-control" type="text" id="neighborhood" formControlName="neighborhood" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-7">
            <label class="form-label" for="street">Rua</label>
            <input class="form-control" type="text" id="street" formControlName="street" />
          </div>
          <div class="form-group col-md-2">
            <label class="form-label" for="number">Número</label>
            <input class="form-control" type="text" id="number" formControlName="number" />
          </div>
          <div class="form-group col-md-3">
            <label class="form-label" for="complement">Complemento</label>
            <input class="form-control" type="text" id="complement" formControlName="complement" />
          </div>
        </div>
      </div>

      <div class="align-items-center col-md-12 d-flex form-check form-switch fs-6 ms-1 mt-2">
        <input class="form-check-input me-2" type="checkbox" formControlName="isPhysicalCompany" />
        <label class="form-check-label mb-0"> Possui local físico </label>
      </div> -->
    </div>
    <div class="modal-footer">
      <div class="form-group m-0" style="text-align: center;" *ngIf="currentStep == 2">
        <button class="btn btn-success" type="submit">Save</button>
      </div>
    </div>
  </form>
</ng-template>