<div class="container d-flex justify-content-center align-items-center">
    <form [formGroup]="profileForm" class="w-50" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
            <input class="form-control d-none" id="fileInput" type="file" *ngIf="!hasImage()"
                (change)="onFileChange($event)" />
            <img [src]="hasImage() ? this.profileForm.get('imageUrl')?.value : 'assets/user-icon.svg'"
                onclick="fileInput.click()" alt="image" class="mb-3" />
            <a class="btn btn-danger" (click)="removeImage()" *ngIf="hasImage()">Remover imagem</a>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="firstName" disabled class="form-label">Nome</label>
                <input class="form-control" type="text" formControlName="firstName" />
            </div>
            <div class="col-md-6">
                <label for="lastName" disabled class="form-label">Sobrenome</label>
                <input class="form-control" type="text" formControlName="lastName" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" [readOnly]="true" type="email" formControlName="email" />
            </div>
            <div class="col-md-4">
                <label for="phoneNumber" class="form-label">Telefone</label>
                <input class="form-control" type="phoneNumber" formControlName="phoneNumber"
                    placeholder="(99) 9 9999-9999" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-md btn-outline-success" style="margin-top: 30px;">Confirmar telefone</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <button class="btn btn-light">Change password</button>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-conci">Salvar</button>
        </div>
    </form>
</div>