<div class="h-100 w-100 d-flex vh-100">
    <app-sidebar></app-sidebar>
    <div class="row text-center company-area">
        <div class="w-25">
            <div class="border card pt-0 px-0">
                <div class="card-body">
                    <button class="btn btn-conci w-100">
                        <i class="bi bi-plus me-1"></i>Adicionar
                    </button>
                    <div class="mt-4">
                        <div class="sub">
                            <ng-container>
                                <h4 class="fw-medium">Entradas</h4>
                                <div id="external-events" class="mb-3">
                                    <!-- <div
                      class="bg-warning-subtle external-event fc-event mb-2 px-3 py-2 text-start text-warning"
                      data-class="text-warning bg-warning-subtle border-0"
                    >
                      <i class="bi bi-circle-fill me-2 text-warning me-2"></i>
                      Cabelo
                    </div>
                    <div data-class="text-info bg-info-subtle border-0"
                      class="bg-info-subtle external-event fc-event mb-2 px-3 py-2 text-start text-info"
                    >
                      <i class="bi bi-circle-fill me-2 text-info me-2"></i>
                      Barba
                    </div> -->
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-25">
            <div class="border card pt-0 px-0">
                <div class="card-body">
                    <button class="btn btn-conci w-100">
                        <i class="bi bi-plus me-1"></i>Adicionar
                    </button>
                    <div class="mt-4">
                        <div class="sub">
                            <ng-container>
                                <h4 class="fw-medium">Saídas</h4>
                                <div id="external-events" class="mb-3">

                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-25">
            <div class="border card pt-0 px-0">
                <div class="card-body">
                    <div class="mt-4">
                        <div class="sub">
                            <ng-container>
                                <h4 class="fw-medium">Saldo</h4>
                                <div id="external-events" class="mb-3">

                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>