<div class="container d-flex">
    <div class="container-info col-md-6">
        <hr>
        <div class="content-info">
            <h1>Bem vindo!</h1>
            <h2>Acesse agora o maior sistema de agendamento do sul do mundo!</h2>
            <img src="https://img.freepik.com/fotos-premium/conceito-de-estilo-de-vida-negocios-e-pessoas-homem-de-negocios-fazendo-sinal-positivo-isolado-no-branco_118342-17877.jpg" 
                alt="Login" class="img-fluid">
        </div>
    </div>

    <div class="container-login col-md-6">
        <h1 class="text-center">Entre em sua conta</h1>
        <form novalidate (ngSubmit)="login()" class="d-grid justify-content-center" [formGroup]="loginForm">
            <hr>
            <div class="form-group">
                <label class="control-label">E-mail</label>
                <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)"
                    formControlName="email" />
            </div>

            <div class="form-group">
                <label class="control-label">Senha</label>
                <input class="form-control" id="password" type="password" placeholder="Senha (requerido)"
                    formControlName="password" /> 
            </div>

            <div class="form-group">
                <button class="btn btn-outline-primary" id="Login" type="submit">Acessar</button>
            </div>

            <h3 class="text-center">Ainda não tem uma conta?</h3>
            <div class="form-group">
                <a class="btn btn-outline-dark" id="Register" [routerLink]="['/account/register']">Registrar</a>
            </div>
        </form>
    </div>
</div>