.container {
  /* display: flex;
    justify-content: space-between;
    padding: 20px; */
}


.container-login,
.container-info {
  /* flex: 1; */
}

.container-login {
  /* margin-left: 20px; */
}

.container-login h1,
.container-login h3 {
  text-align: center;
}

.container-login .form-group {
  margin-bottom: 15px;
}

.container-login .btn {
  width: 100%;
}

.container-login input[type="text"],
.container-login input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container-info {
  /* margin-right: 20px; */
  padding-left: 5% !important;
  /* min-height: 100vh; */
  background: #D6EDFF;
}

.content-info h1 {
  line-height: 1.2;
  letter-spacing: .01em;
  color: #444;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 600;
}

.content-info h2 {
  color: #788291;
  font-size: 16px;
}

.content-info h1 span {
  color: #5abfa5;
}

.content-info h2 span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--dark-blue);
}

.container-info h1,
.container-info h2 {
  /* text-align: center; */
}

img {
  width: 100%;
  /* height: 100%; */
  max-height: 70%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 45%;
}

@media screen and (max-width: 768px) {
  .container-info {
    display: none;
  }
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-blue);
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.form-control.is-invalid {
  border-color: var(--bs-form-invalid-border-color) !important;
}

#login-text {
  color: var(--dark-blue);
}

#login-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  border-left: 2px solid var(--dark-blue);
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {

  40%,
  60% {
    left: calc(100% + 4px);
  }

  100% {
    left: 0%;
  }
}

.btn-login {
  background: var(--dark-blue);
  color: #fff;
}

.btn-login:hover {
  background: var(--dark-blue);
  color: #fff;
  box-shadow: 0px 1px 5px 1px #356c5e;
}

.spinner-border {
  height: 20px;
  width: 20px;
  font-size: 14px;
}
