<form [formGroup]="form">
  <div class="row">
    <div class="d-flex form-group justify-content-center mb-4">
      <div class="bg-light p-2 position-relative">
        <input class="form-control d-none" id="company-image" type="file" (change)="onFileChange($event)" />
        <img [src]="hasImage() ? this.image : 'assets/not-found.png'" alt="image" width="200" height="160" />
        <label for="company-image" class="image-label">
          <i class="bi bi-camera-fill"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    <div class="form-group">
      <button type="button" class="btn btn-danger" (click)="removeImage()" *ngIf="hasImage()">Remove</button>
    </div>
  </div>

  <div class="row mb-1">
    <div class="form-group col-md-4">
      <label class="form-label required-label" for="name">Name:</label>
      <input class="form-control" type="text" id="name" formControlName="name" />
    </div>
    <div class="form-group col-md-4">
      <label class="form-label" for="cnpj">CNPJ:</label>
      <input class="form-control" type="text" mask="00.000.000/0000-00" id="cnpj" formControlName="cnpj" placeholder="Opcional" />
    </div>
      <div class="row mb-1">
    <div class="form-group col-md-12">
      <label class="form-label">Url de compartilhamento</label>
      <div>
        <i style="font-size: small;">Este é o link que você enviará para seus clientes realizarem os agendamentos.</i>
      </div>
      <div class="form-group col-md-6" style="display: flex;">
        <input class="form-control" type="text" value="{{prefix}}" [readOnly]="true" [disabled]="true"
          style="flex: 0 0 auto; width: 32%;">
        <input class="form-control" (keyup)="checkUrlIsValid()" type="text" id="usernameInput" name="usernameInput"
          formControlName="schedulingUrl" style="flex: 1;">
        <i style="font-size: small;"
          [ngClass]="{'message-success': urlSuccessMessage, 'message-error': urlErrorMessage}">
          {{ urlSuccessMessage ?? urlErrorMessage }}
        </i>
      </div>
    </div>
  </div>
  </div>
</form>
