<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 class="mb-3">Dias da Semana</h3>
  <div class="form-check mb-2" formArrayName="weekdays">
    <div class="row">
      <div class="align-items-center col-md-3 d-flex form-check form-switch fs-6 ms-1 mt-2" *ngFor="let control of $any(this.form.get('weekdays'))['controls']; let i = index">
        <input class="form-check-input me-2" type="checkbox" [formControlName]="i" (change)="weekdays[i].checked = !weekdays[i].checked"/>
        <label class="form-check-label mb-0"> {{weekdays[i].day}} </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
