<header *ngIf="mobile && !hideHeader">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container flex-row justify-content-around">

      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse"
        data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/home">{{ 'NAV.MENU.PRICING' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/home">{{ 'NAV.MENU.FEATURES' | translate }}</a>
          </li>
        </ul>
      </div>

      <a class="navbar-brand" routerLink="/home">Agende</a>

      <div class="d-flex align-items-center">
        <div class="dropdown me-3" ngbDropdown>
          <button class="btn btn-link dropdown-toggle" ngbDropdownToggle type="button" id="languageDropdownMobile">
            <img [src]="'assets/flags/' + currentLang + '.svg'" alt="Current language flag" width="24" height="16" class="me-1">
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="switchLanguage('pt')">
                <img src="assets/flags/pt.svg" alt="Portuguese" width="24" height="16" class="me-2">
                Português
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="switchLanguage('en')">
                <img src="assets/flags/en.svg" alt="English" width="24" height="16" class="me-2">
                English
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="switchLanguage('es')">
                <img src="assets/flags/es.svg" alt="Spanish" width="24" height="16" class="me-2">
                Español
              </a>
            </li>
          </ul>
        </div>
        <app-menu-login></app-menu-login>
      </div>

    </div>
  </nav>
</header>

<header *ngIf="!mobile && !hideHeader">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">Agende</a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse"
        data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="isCollapsed" *ngIf="!(isLoggedIn$ | async)">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/home">{{ 'NAV.MENU.PRICING' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/home">{{ 'NAV.MENU.FEATURES' | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center">
        <div class="dropdown me-3" ngbDropdown>
          <button class="btn btn-link dropdown-toggle" ngbDropdownToggle type="button" id="languageDropdown">
            <img [src]="'assets/flags/' + currentLang + '.svg'" alt="Current language flag" width="24" height="16" class="me-1">
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="switchLanguage('pt')">
                <img src="assets/flags/pt.svg" alt="Portuguese" width="24" height="16" class="me-2">
                Português
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="switchLanguage('en')">
                <img src="assets/flags/en.svg" alt="English" width="24" height="16" class="me-2">
                English
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="switchLanguage('es')">
                <img src="assets/flags/es.svg" alt="Spanish" width="24" height="16" class="me-2">
                Español
              </a>
            </li>
          </ul>
        </div>
        <app-menu-login></app-menu-login>
      </div>

    </div>
  </nav>
</header>
