.btn-access {
    text-decoration: none;
    color: var(--dark-blue);;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
}

.logout{
    padding-left: 10px;
    padding-top: 7px;
}

.nav-item.access {
    padding-top: 10px;
}

.btn-access:hover {
    color: #398776;
}

.dropdown-item:active {
    background-color: transparent;
}

.dropdown-item:hover {
    background-color: transparent;
}

#btnLogout {
    color: red;
    font-size: x-large;
}

@media(max-width: 480px) {
    .btn-access {
        padding-top: 0px;
        padding-right: 0px;
    }
}