.btn-access {
    text-decoration: none;
    color: var(--verde-conci);
    font-size: 16px;
    font-weight: 400;
    padding-right: 30px;
}

.nav-item.access {
    padding-top: 10px;
}

.btn-access:hover {
    font-weight: 500;
}

.dropdown-item:active {
    background-color: transparent;
}

.dropdown-item:hover {
    background-color: transparent;
}

#btnLogout {
    color: red;
    font-family: monospace;
    font-weight: 500;
}

@media(max-width: 480px) {
    .btn-access {
        padding-top: 0px;
        padding-right: 0px;
    }
}