<ul class="navbar-nav" *ngIf="isLoggedIn$ | async">
  <li class="nav-item access">
    <a class="btn-access" routerLink="user/companies"><i class="bi bi-building me-1"></i>Acessar meu negócio </a>
  </li>
  <li class="nav-item logout">
    <a (click)="logout()" title="Sair" id="btnLogout">
      <i class="bi bi-box-arrow-left"></i>
    </a>
  </li>
</ul>

<ul class="navbar-nav" *ngIf="!(isLoggedIn$ | async)">
  <li class="nav-item">
    <button class="btn btn-outline-conci" routerLink="/account/register" routerLinkActive="active">Experimente
      grátis</button>
  </li>
  <li class="nav-item access">
    <a [routerLink]="['/account/login']" class="btn-access" routerLinkActive="router-link-active"><i
        class="bi bi-person">Acesse sua conta</i> </a>
  </li>
</ul>