@import "../node_modules/angular-calendar/css/angular-calendar.css";

:root {
    --dark-blue: #28534A;
    --light-green: #84DCC6;
    --light-blue: #edf7ff;
    --medium-blue: #ACD7EC;
    --purple-blue: #8B95C9;
}

.navbar{
    background-color: #c3c3e9 !important;
    border-radius: 150px;
    margin: 1%;
}

html {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
    font-family: Poppins, sans-serif;
}

body {
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.text-footer {
    color: var(--dark-blue);
}

input,
select,
file,
textarea {
    max-width: 400px;
}

.card {
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .card {
        flex: 0 0 100%;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
